 @media only screen and (min-width: 0em) {
     :root {
         --primary: #013E3F;
         --primaryLight: #013E3F;
         --secondary: #001f3f;
         --secondaryLight: #001f3f;
         --headerColor: #1a1a1a;
         --bodyTextColor: #4e4b66;
         --bodyTextColorWhite: #fafbfc;
         --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
         --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
         --bodyFontSize: 1rem;
         --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
     }

     .hidden {
         display: none;
     }

     .cs-topper {
         font-size: var(--topperFontSize);
         line-height: 1.2em;
         text-transform: uppercase;
         text-align: inherit;
         letter-spacing: 0.1em;
         font-weight: 700;
         color: var(--primary);
         margin-bottom: 0.25rem;
         display: block;
         font-family: "Inter", "Arial", sans-serif;
     }

     .cs-title {
         font-size: var(--headerFontSize);
         font-weight: 900;
         line-height: 1.2em;
         text-align: inherit;
         max-width: 43.75rem;
         margin: 0 0 1rem 0;
         color: var(--headerColor);
         position: relative;
         font-family: "Inter", "Arial", sans-serif;
     }

     .cs-text {
         font-size: var(--bodyFontSize);
         line-height: 1.5em;
         text-align: inherit;
         width: 100%;
         max-width: 40.625rem;
         margin: 0;
         color: var(--bodyTextColor);
     }

     .cs-button-solid {
         font-size: 1rem;
         line-height: clamp(2.875rem, 5.5vw, 3.5rem);
         text-decoration: none;
         font-weight: 700;
         text-align: center;
         margin: 0;
         color: #fff;
         min-width: 9.375rem;
         padding: 0 1.5rem;
         background-color: var(--primary);
         border-radius: 0.75rem;
         display: inline-block;
         position: relative;
         z-index: 1;
         box-sizing: border-box;
     }

     .cs-button-solid:before {
         content: "";
         position: absolute;
         height: 100%;
         width: 0%;
         background: #000;
         opacity: 1;
         top: 0;
         left: 0;
         z-index: -1;
         border-radius: 0.75rem;
         transition: width 0.3s;
     }

     .cs-button-solid:hover:before {
         width: 100%;
         border-radius: 0.75rem;
     }

     .cs-button-transparent {
         font-size: 1rem;
         line-height: clamp(2.875rem, 5.5vw, 3.5rem);
         text-decoration: none;
         font-weight: 700;
         text-align: center;
         margin: 0;
         color: var(--primary);
         min-width: 9.375rem;
         padding: 0 1.5rem;
         background-color: transparent;
         border-radius: 0.75rem;
         display: inline-block;
         position: relative;
         z-index: 1;
         box-sizing: border-box;
         transition: color 0.3s, border-color 0.3s, background-color 0.3s;
     }

     .cs-button-transparent:before {
         content: "";
         position: absolute;
         height: 100%;
         width: 0%;
         background: #000;
         opacity: 1;
         top: 0;
         left: 0;
         z-index: -1;
         border-radius: 0.75rem;
         transition: width 0.3s;
     }

     .cs-button-transparent:hover {
         color: #fff;
         border-color: #000;
         background-color: #000;
     }

     .cs-button-transparent:hover:before {
         width: 100%;
     }
 }

 @media only screen and (min-width: 0em) {
     @font-face {
         font-display: swap;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         src: url('/assets/fonts/inter-v13-latin-regular.woff2') format('woff2');
     }

     @font-face {
         font-display: swap;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 700;
         src: url('/assets/fonts/inter-v13-latin-700.woff2') format('woff2');
     }

     @font-face {
         font-display: swap;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 900;
         src: url('/assets/fonts/inter-v13-latin-900.woff2') format('woff2');
     }

     @font-face {
         font-display: swap;
         font-family: 'Open Sans';
         font-style: normal;
         font-weight: 400;
         src: url('/assets/fonts/open-sans-v40-latin-regular.woff2') format('woff2');
     }

     @font-face {
         font-display: swap;
         font-family: 'Open Sans';
         font-style: normal;
         font-weight: 700;
         src: url('/assets/fonts/open-sans-v40-latin-700.woff2') format('woff2');
     }

     body,
     html {
         font-family: "Open Sans", Arial, sans-serif;
         font-size: 100%;
         margin: 0;
         padding: 0;
         color: var(--bodyTextColor);
         overflow-x: hidden;
     }

     *,
     *:before,
     *:after {
         margin: 0;
         box-sizing: border-box;
         padding: 0;
     }

     body {
         transition: background-color 0.3s;
     }

     .container {
         width: 92%;
         margin: auto;
         position: relative;
     }

     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
         margin: 0;
         color: var(--headerColor);
     }

     p,
     li,
     a {
         font-size: 1rem;
         line-height: 1.5em;
         margin: 0;
     }

     p,
     li {
         color: #353535;
     }

     a:hover,
     button:hover {
         cursor: pointer;
     }

     .skip {
         opacity: 0;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1111111;
     }
 }

 @media only screen and (min-width: 1024px) {

     body,
     html {
         margin: 0;
         padding: 0;
     }
 }

 @media only screen and (min-width: 3000px) {

     body,
     html {
         font-size: 0.55vw;
     }
 }

 @media only screen and (max-width: 64.99rem) {
     body.cs-open {
         overflow: hidden;
     }

     body.cs-open #cs-navigation,
     body.scroll #cs-navigation {
         background-color: #fff;
         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     }

     body.cs-open #cs-navigation .cs-logo,
     body.scroll #cs-navigation .cs-logo {
         filter: invert(0);
     }

     body.cs-open #cs-navigation .cs-toggle,
     body.scroll #cs-navigation .cs-toggle {
         filter: invert(0);
     }

     #cs-navigation {
         font-family: "Inter", "Arial", sans-serif;
         width: 100%;
         box-sizing: border-box;
         padding: 0.5rem 0.75rem;
         background-color: transparent;
         transition: background-color 0.3s, color 0.3s;
         position: fixed;
         z-index: 10000;
     }

     #cs-navigation:before {
         content: "";
         width: 0%;
         height: 100vh;
         background: rgba(0, 0, 0, 0.6);
         opacity: 0;
         display: block;
         position: absolute;
         top: 100%;
         right: 0;
         z-index: -11;
         transition: width 0.5s, opacity 0.3s;
         -webkit-backdrop-filter: blur(10px);
         backdrop-filter: blur(10px);
     }

     #cs-navigation.cs-active:before {
         width: 100%;
         opacity: 1;
     }

     #cs-navigation.cs-active .cs-ul-wrapper {
         opacity: 1;
         transform: scaleX(1);
         transition-delay: 0.2s;
     }

     #cs-navigation.cs-active .cs-li {
         opacity: 1;
         transform: translateX(0);
     }

     #cs-navigation .cs-container {
         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
     }

     #cs-navigation .cs-logo {
         width: 40%;
         max-width: 13rem;
         max-height: 4rem;
         height: 100%;
         margin: 0 auto 0 0;
         box-sizing: border-box;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         z-index: 10;
         filter: invert(1);
     }

     #cs-navigation .cs-logo img {
         width: 100%;
         height: auto;
         object-fit: contain;
         object-position: left;
     }

     #cs-navigation .cs-toggle {
         width: clamp(2.75rem, 6vw, 3rem);
         height: clamp(2.75rem, 6vw, 3rem);
         margin: 0 0 0 auto;
         background-color: transparent;
         border: none;
         border-radius: 0.75rem;
         display: flex;
         justify-content: center;
         align-items: center;
         filter: invert(1);
     }

     #cs-navigation .cs-active .cs-line1 {
         top: 50%;
         transform: translate(-50%, -50%) rotate(225deg);
     }

     #cs-navigation .cs-active .cs-line2 {
         top: 50%;
         transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
         transform-origin: center;
     }

     #cs-navigation .cs-active .cs-line3 {
         opacity: 0;
         bottom: 100%;
     }

     #cs-navigation .cs-box {
         width: clamp(1.5rem, 2vw, 1.75rem);
         height: clamp(0.875rem, 1.5vw, 1rem);
         position: relative;
     }

     #cs-navigation .cs-line {
         width: 100%;
         height: 2px;
         background-color: #1a1a1a;
         border-radius: 2px;
         position: absolute;
         left: 50%;
         transform: translateX(-50%);
     }

     #cs-navigation .cs-line1 {
         top: 0;
         transition: transform 0.5s, top 0.3s, left 0.3s;
         animation-duration: 0.7s;
         animation-timing-function: ease;
         animation-direction: normal;
         animation-fill-mode: forwards;
         transform-origin: center;
     }

     #cs-navigation .cs-line2 {
         top: 50%;
         transform: translateX(-50%) translateY(-50%);
         transition: top 0.3s, left 0.3s, transform 0.5s;
         animation-duration: 0.7s;
         animation-timing-function: ease;
         animation-direction: normal;
         animation-fill-mode: forwards;
     }

     #cs-navigation .cs-line3 {
         bottom: 0;
         transition: bottom 0.3s, opacity 0.3s;
     }

     #cs-navigation .cs-ul-wrapper {
         height: 100vh;
         background-color: #fff;
         box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
         opacity: 0;
         position: absolute;
         top: 100%;
         right: 0;
         left: auto;
         z-index: -1;
         overflow: hidden;
         transform: scaleX(0);
         transition: transform 0.4s, opacity 0.3s;
         transform-origin: top right;
     }

     #cs-navigation .cs-ul {
         width: auto;
         min-width: 40%;
         height: 65vh;
         margin: 0;
         padding: 3rem clamp(1.75rem, 3vw, 2.5rem) 2rem 4.375rem;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-end;
         gap: 1.25rem;
         overflow: scroll;
     }

     #cs-navigation .cs-li {
         text-align: right;
         text-transform: uppercase;
         font-weight: bold;
         list-style: none;
         width: 100%;
         margin-right: 0;
         opacity: 0;
         transform: translateX(calc(-40 / 16 * 1rem));
         transition: transform 0.6s, opacity 0.9s;
     }

     #cs-navigation .cs-li:nth-of-type(1) {
         transition-delay: 0.05s;
     }

     #cs-navigation .cs-li:nth-of-type(2) {
         transition-delay: 0.1s;
     }

     #cs-navigation .cs-li:nth-of-type(3) {
         transition-delay: 0.15s;
     }

     #cs-navigation .cs-li:nth-of-type(4) {
         transition-delay: 0.2s;
     }

     #cs-navigation .cs-li:nth-of-type(5) {
         transition-delay: 0.25s;
     }

     #cs-navigation .cs-li:nth-of-type(6) {
         transition-delay: 0.3s;
     }

     #cs-navigation .cs-li:nth-of-type(7) {
         transition-delay: 0.35s;
     }

     #cs-navigation .cs-li:nth-of-type(8) {
         transition-delay: 0.4s;
     }

     #cs-navigation .cs-li:nth-of-type(9) {
         transition-delay: 0.45s;
     }

     #cs-navigation .cs-li-link {
         font-size: clamp(1rem, 2.5vw, 1.5rem);
         line-height: 1.2em;
         text-decoration: none;
         margin: 0;
         color: var(--headerColor);
         display: inline-block;
         position: relative;
     }

     #cs-navigation .cs-li-link:before {
         content: "";
         width: 100%;
         height: 1px;
         background: currentColor;
         opacity: 1;
         display: none;
         position: absolute;
         bottom: calc(-2 / 16 * 1rem);
         left: 0;
     }

     #cs-navigation .cs-li-link.cs-active:before {
         display: block;
     }

     #cs-navigation .cs-button-solid {
         display: none;
     }
 }

 @media only screen and (max-width: 64.999rem) {
     #cs-navigation .cs-dropdown {
         color: var(--bodyTextColorWhite);
         position: relative;
     }

     #cs-navigation .cs-dropdown.cs-active .cs-drop-ul {
         height: auto;
         margin: 0.75rem 0 0 0;
         padding: 1.5rem;
         opacity: 1;
         visibility: visible;
         transform: scale(1);
     }

     #cs-navigation .cs-dropdown.cs-active .cs-drop-link {
         opacity: 1;
     }

     #cs-navigation .cs-dropdown .cs-li-link {
         position: relative;
         transition: opacity 0.3s;
     }

     #cs-navigation .cs-drop-icon {
         width: 0.9375rem;
         height: auto;
         position: absolute;
         top: 50%;
         right: calc(-20 / 16 * 1rem);
         transform: translateY(-50%);
     }

     #cs-navigation .cs-drop-ul {
         width: 100%;
         height: 0;
         margin: 0;
         box-sizing: border-box;
         padding: 0 1.5rem 0 1.5rem;
         background-color: var(--primary);
         opacity: 0;
         display: flex;
         visibility: hidden;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-end;
         gap: 0.75rem;
         overflow: hidden;
         transform: scale(0);
         transition: padding 0.3s, margin 0.3s, height 0.3s, opacity 0.3s, transform 0.3s, visibility 0.3s;
         transform-origin: top right;
     }

     #cs-navigation .cs-drop-li {
         text-align: inherit;
         list-style: none;
         text-transform: none;
     }

     #cs-navigation .cs-li-link.cs-drop-link {
         font-size: clamp(0.875rem, 2vw, 1.25rem);
         color: #fff;
     }
 }

 @media only screen and (min-width: 65rem) {
     #cs-navigation .cs-dropdown {
         position: relative;
     }

     #cs-navigation .cs-dropdown:hover {
         cursor: pointer;
     }

     #cs-navigation .cs-dropdown:hover .cs-drop-ul {
         opacity: 1;
         visibility: visible;
         transform: scaleY(1);
     }

     #cs-navigation .cs-dropdown:hover .cs-drop-li {
         opacity: 1;
         transform: translateY(0);
     }

     #cs-navigation .cs-drop-icon {
         width: 0.9375rem;
         height: auto;
         display: inline-block;
     }

     #cs-navigation .cs-drop-ul {
         min-width: 12.5rem;
         margin: 0;
         padding: 0;
         background-color: #fff;
         box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
         opacity: 0;
         border-bottom: 5px solid var(--primary);
         visibility: hidden;
         position: absolute;
         top: 100%;
         z-index: -100;
         overflow: hidden;
         transform: scaleY(0);
         transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
         transform-origin: top;
     }

     #cs-navigation .cs-drop-li {
         font-size: 1rem;
         text-decoration: none;
         text-transform: none;
         list-style: none;
         width: 100%;
         height: auto;
         color: var(--bodyTextColor);
         opacity: 0;
         display: block;
         transform: translateY(calc(-10 / 16 * 1rem));
         transition: opacity 0.6s, transform 0.6s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(1) {
         transition-delay: 0.05s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(2) {
         transition-delay: 0.1s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(3) {
         transition-delay: 0.15s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(4) {
         transition-delay: 0.2s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(5) {
         transition-delay: 0.25s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(6) {
         transition-delay: 0.3s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(7) {
         transition-delay: 0.35s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(8) {
         transition-delay: 0.4s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(9) {
         transition-delay: 0.45s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(10) {
         transition-delay: 0.5s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(11) {
         transition-delay: 0.55s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(12) {
         transition-delay: 0.6s;
     }

     #cs-navigation .cs-drop-li:nth-of-type(13) {
         transition-delay: 0.65s;
     }

     #cs-navigation .cs-li-link.cs-drop-link {
         font-size: 1rem;
         line-height: 1.5em;
         text-decoration: none;
         white-space: nowrap;
         width: 100%;
         box-sizing: border-box;
         padding: 0.75rem;
         color: var(--bodyTextColor);
         display: block;
         transition: color 0.3s, background-color 0.3s;
     }

     #cs-navigation .cs-li-link.cs-drop-link:hover {
         background-color: #f7f7f7;
     }

     #cs-navigation .cs-li-link.cs-drop-link:before {
         display: none;
     }
 }

 @media only screen and (min-width: 65rem) {
     body.scroll #cs-navigation {
         background-color: #fff;
         box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     }

     body.scroll #cs-navigation .cs-logo {
         filter: invert(0);
     }

     body.scroll #cs-navigation .cs-li-link {
         color: var(--bodyTextColor);
     }

     body.scroll #cs-navigation .cs-li-link:before {
         background: var(--primary);
     }

     body.scroll #cs-navigation .cs-button-solid:before {
         background: #000;
     }

     body.scroll #cs-navigation .cs-button-solid:hover {
         color: #fff;
     }

     #cs-navigation {
         font-family: "Inter", "Arial", sans-serif;
         width: 100%;
         box-sizing: border-box;
         padding: 0 1rem;
         position: fixed;
         z-index: 10000;
         background-color: transparent;
         transition: background-color 0.3s;
     }

     #cs-navigation .cs-container {
         width: 100%;
         margin: auto;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         gap: 2.25rem;
     }

     #cs-navigation .cs-toggle {
         display: none;
     }

     #cs-navigation .cs-logo {
         width: 18.4%;
         max-width: 17rem;
         height: 4.0625rem;
         margin: 0 auto 0 0;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         z-index: 100;
         filter: invert(1);
     }

     #cs-navigation .cs-logo img {
         width: 100%;
         height: auto;
         object-fit: contain;
     }

     #cs-navigation .cs-ul {
         width: 100%;
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         gap: clamp(1.25rem, 2.6vw, 2.25rem);
     }

     #cs-navigation .cs-li {
         list-style: none;
         padding: 2rem 0;
         flex: none;
         text-transform: uppercase;
         font-weight: bold;
     }

     #cs-navigation .cs-li-link {
         font-size: clamp(0.875rem, 1vw, 1rem);
         line-height: 1.5em;
         text-decoration: none;
         margin: 0;
         color: #fff;
         display: block;
         position: relative;
     }

     #cs-navigation .cs-li-link:hover:before {
         width: 100%;
     }

     #cs-navigation .cs-li-link.cs-active:before {
         width: 100%;
     }

     #cs-navigation .cs-li-link:before {
         content: "";
         width: 0%;
         height: 2px;
         background: #fff;
         opacity: 1;
         display: block;
         position: absolute;
         bottom: 0rem;
         left: 0;
         transition: width 0.3s;
     }

     #cs-navigation .cs-button-solid:before {
         background: #fff;
     }

     #cs-navigation .cs-button-solid:hover {
         color: #000;
     }
 }

 @media only screen and (min-width: 0em) {
     #int-hero {
         min-height: 30vh;
         padding-top: 3.125rem;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         position: relative;
         z-index: 1;
     }

     #int-hero:before {
         content: "";
         width: 100%;
         height: 100%;
         background: #000;
         opacity: 0.7;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
     }

     #int-hero picture {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -2;
     }

     #int-hero picture img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
     }

     #int-hero h1 {
         font-size: 2.13333333rem;
         text-align: center;
         width: 96%;
         max-width: 31.25rem;
         margin: 0 auto;
         margin-top: 4.375rem;
         margin-bottom: 1.875rem;
         color: #fff;
         position: relative;
     }

     #int-hero p {
         text-align: center;
         width: 96%;
         max-width: 25rem;
         margin: auto;
         margin-bottom: 1.875rem;
         color: #fff;
         display: block;
     }
 }

 @media only screen and (min-width: 48em) {
     #int-hero {
         font-size: 100%;
     }

     #int-hero h1 {
         font-size: 4rem;
     }
 }

 @media only screen and (min-width: 64em) {
     #int-hero {
         font-size: inherit;
         height: auto;
         min-height: 18.75rem;
         padding-top: 11.25rem;
         background-attachment: fixed;
         padding-block-end: 6.25rem;
     }
 }

 @media only screen and (min-width: 0em) {
     #cta {
         padding: 3.125rem 0;
         position: relative;
     }

     #cta:before {
         content: "";
         width: 100%;
         height: 100%;
         background: #000;
         opacity: 0.7;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
     }

     #cta .container {
         text-align: center;
     }

     #cta picture {
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -2;
     }

     #cta picture img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
     }

     #cta .title {
         font-size: min(9vw, 3rem);
         font-weight: 900;
         line-height: 1.20833333em;
         text-align: center;
         margin-bottom: 2.25rem;
         color: #fff;
         position: relative;
     }

     #cta p {
         text-align: center;
         width: 96%;
         max-width: 37.375rem;
         margin: auto;
         margin-bottom: 2.25rem;
         color: #fff;
         opacity: 1;
     }
 }

 @media only screen and (min-width: 64em) {
     #cta {
         padding: 10.5rem 0;
     }
 }

 @media only screen and (min-width: 1300px) {
     #cta {
         margin-top: 6.25rem;
         position: relative;
     }

     #cta:before {
         display: none;
     }

     #cta:after {
         content: "";
         width: 125rem;
         height: 69.25rem;
         background: url("/assets/svgs/cta-squares.svg");
         background-position: center;
         background-size: contain;
         background-repeat: no-repeat;
         opacity: 1;
         display: block;
         position: absolute;
         bottom: 0;
         left: 50%;
         z-index: -3;
         transform: translateX(-50%);
     }

     #cta .container {
         width: 90.0625%;
         margin: auto;
     }

     #cta picture {
         width: 90.0625%;
         left: 50%;
         transform: translateX(-50%);
     }

     #cta picture:before {
         content: "";
         width: 100%;
         height: 100%;
         background: #000;
         opacity: 0.7;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
     }
 }

 @media only screen and (min-width: 0em) {
     body.dark-mode #cta:after {
         display: none;
     }
 }

 @media only screen and (min-width: 0em) {
     #footer {
         font-size: min(4vw, 1.2em);
         padding: 1.25rem 0 1.25rem;
         background: #393335;
     }

     #footer .left-section {
         text-align: center;
         margin: auto;
         margin-bottom: 3.125rem;
     }

     #footer .left-section .logo {
         text-align: center;
         width: auto;
         height: 2em;
         margin: auto;
         margin-bottom: 1.875em;
     }

     #footer .left-section .logo img {
         width: 100%;
         height: auto;
         display: block;
     }

     #footer .left-section p {
         font-size: 0.875rem;
         line-height: 1.92857143rem;
         text-align: center;
         width: 100%;
         width: 21.92857143rem;
         margin: auto;
         color: #fff;
         opacity: 0.9;
     }

     #footer .cs-social {
         display: inline-flex;
         flex-direction: row;
         justify-content: flex-start;
         gap: 0.75rem;
         position: relative;
         top: auto;
         right: auto;
     }

     #footer .cs-social-link {
         width: 1.5rem;
         height: 1.5rem;
         border-radius: 50%;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         z-index: 1;
         transition: transform 0.3s, background-color 0.3s;
     }

     #footer .cs-social-link:hover {
         background-color: #1a1a1a;
         transform: translateY(-0.1875rem);
     }

     #footer .cs-social-img {
         height: 0.8125rem;
         width: auto;
         display: block;
     }

     #footer .right-section {
         width: 96%;
         max-width: 25.4375rem;
         margin: auto;
     }

     #footer .right-section .lists {
         width: 96%;
         max-width: 19.1875rem;
         margin: auto;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
     }

     #footer .right-section .lists ul {
         margin-top: 0;
         margin-bottom: 0;
         padding: 0;
     }

     #footer .right-section .lists ul:nth-of-type(3) {
         margin-top: 3.125rem;
     }

     #footer .right-section .lists ul:nth-of-type(3) li {
         margin-bottom: 1rem;
         display: flex;
         justify-content: flex-start;
         align-items: center;
     }

     #footer .right-section .lists ul:nth-of-type(3) li:last-of-type {
         margin-bottom: 0;
     }

     #footer .right-section .lists ul li {
         font-size: 1.125rem;
         list-style: none;
         margin-bottom: 0.75rem;
         color: #fff;
         opacity: 0.9;
     }

     #footer .right-section .lists ul li a {
         line-height: 1.16666667em;
         text-decoration: none;
         color: #fff;
         transition: color 0.3s;
     }

     #footer .right-section .lists ul li a:hover {
         color: #fff;
     }

     #footer .right-section .lists ul h2 {
         font-size: 1.125rem;
         font-weight: bold;
         line-height: 1.16666667em;
         text-transform: uppercase;
         margin-bottom: 2.3125rem;
         color: #fff;
         position: relative;
     }

     #footer .right-section .lists ul h2:before {
         content: "";
         width: 6.0625rem;
         height: 0.125rem;
         background: #fff;
         opacity: 1;
         display: block;
         position: absolute;
         bottom: calc(-16 / 16 * 1rem);
         left: 0;
     }

     #footer .right-section .buttons {
         display: flex;
         justify-content: center;
     }

     #footer .right-section .cs-button-solid {
         width: 15.625rem;
         height: 3.3125rem;
         margin: 0;
         padding-top: 0.1875rem;
     }

     #footer .credit {
         font-size: 1rem;
         line-height: 2.25rem;
         text-align: center;
         width: 96%;
         margin: auto;
         margin-top: 6.25rem;
         color: #fff;
     }

     #footer .credit a {
         font-size: 1rem;
         text-decoration: none;
         color: #fff;
     }

     #footer .credit a:hover {
         text-decoration: underline;
     }

     #footer .credit .copyright {
         font-size: 1rem;
         display: block;
     }
 }

 @media only screen and (min-width: 25em) {
     #footer .left-section .logo img {
         margin: auto;
         width: 50%;
         height: auto;
     }
 }

 @media only screen and (min-width: 64em) {
     #footer {
         font-size: min(1.2vw, 1em);
         padding: 6.25rem 0 1.25rem;
     }

     #footer .container {
         width: 96%;
         max-width: 82.5rem;
         margin: auto;
         padding: 0;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         flex-wrap: nowrap;
     }

     #footer .left-section {
         text-align: left;
         width: 25.5625rem;
         margin: 0;
     }

     #footer .left-section .logo {
         text-align: left;
         height: 2.5rem;
         margin-left: 0;
     }

     #footer .left-section .logo img {
         position: relative;
         margin-top: -5.25rem;
         left: -55px;
         width: 100%;
         display: block;
     }

     #footer .left-section p {
         text-align: left;
         margin-left: 0;
     }

     #footer .right-section {
         width: 38.0625rem;
         max-width: none;
         margin: 0;
     }

     #footer .right-section .lists {
         width: 96%;
         max-width: 48.0625rem;
         max-width: initial;
         margin: 0;
     }

     #footer .right-section .lists ul:nth-of-type(3) {
         margin-top: 0;
     }

     #footer .right-section .lists ul:nth-of-type(3) li:first-of-type {
         margin-bottom: 0;
     }

     #footer .right-section .lists ul li a {
         position: relative;
     }

     #footer .right-section .lists ul li a:before {
         content: "";
         width: 0%;
         height: 0.125rem;
         background: #fff;
         opacity: 1;
         display: block;
         position: absolute;
         bottom: calc(-3 / 16 * 1rem);
         left: 0;
         transition: width 0.3s;
     }

     #footer .right-section .lists ul li a:hover:before {
         width: 100%;
     }

     #footer .right-section .buttons {
         justify-content: flex-start;
     }

     #footer .credit .copyright {
         display: inline-block;
     }

     #footer .cs-social {
         flex-direction: row;
         position: relative;
         top: auto;
         right: auto;
     }
 }

 @media only screen and (min-width: 0rem) {
     #banner-712 {
         padding: clamp(10.9375rem, 10vw, 12.5rem) 1rem 6.25rem;
         position: relative;
         z-index: 1;
     }

     #banner-712 .cs-container {
         text-align: center;
         width: 100%;
         max-width: 80rem;
         margin: auto;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
         gap: 1rem;
     }

     #banner-712 .cs-int-title {
         font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
         font-weight: 900;
         line-height: 1.2em;
         text-align: inherit;
         margin: 0;
         color: var(--bodyTextColorWhite);
         position: relative;
     }

     #banner-712 .cs-background {
         width: 100%;
         height: 100%;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
     }

     #banner-712 .cs-background:before {
         content: "";
         position: absolute;
         display: block;
         height: 100%;
         width: 100%;
         background: #000;
         opacity: 0.75;
         top: 0;
         left: 0;
         z-index: 1;
     }

     #banner-712 .cs-background img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
     }
 }

 @media only screen and (min-width: 48rem) {
     #banner-712 .cs-background:before {
         opacity: 1;
         background: linear-gradient(90.01deg, rgba(0, 0, 0, 0.9) 16.86%, rgba(0, 0, 0, 0) 100%);
     }
 }

 @media only screen and (min-width: 0rem) {
     #contact-1389 {
         padding: var(--sectionPadding);
         background-color: #f7f7f7;
         position: relative;
         z-index: 1;
     }

     #contact-1389 .cs-container {
         width: 100%;
         max-width: 36.5rem;
         margin: auto;
         display: flex;
         justify-content: center;
         align-items: stretch;
         flex-direction: column;
         column-gap: auto;
         gap: clamp(2rem, 3vw, 3rem);
         position: relative;
     }

     #contact-1389 .cs-content {
         text-align: left;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
     }

     #contact-1389 .cs-title {
         max-width: 23ch;
     }

     #contact-1389 .cs-text {
         margin-bottom: 1rem;
     }

     #contact-1389 .cs-text:last-of-type {
         margin-bottom: 2rem;
     }

     #contact-1389 .cs-ul {
         text-align: left;
         width: 100%;
         margin: 0;
         padding: 0;
         box-sizing: border-box;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 1.5rem;
         position: relative;
     }

     #contact-1389 .cs-li {
         list-style: none;
         display: flex;
         justify-content: flex-start;
         align-items: flex-start;
         gap: 1.25rem;
     }

     #contact-1389 .cs-li:hover .cs-icon-wrapper {
         transform: scale(1.1);
     }

     #contact-1389 .cs-header {
         font-size: 1.25rem;
         font-weight: 700;
         line-height: 1.2em;
         margin-bottom: 0.75rem;
         color: var(--headerColor);
         display: block;
     }

     #contact-1389 .cs-link {
         font-size: 1rem;
         line-height: 1.5em;
         text-decoration: none;
         color: #767676;
         display: block;
         position: relative;
     }

     #contact-1389 .cs-link:hover {
         text-decoration: underline;
     }

     #contact-1389 .cs-icon-wrapper {
         width: 3.75rem;
         height: 3.75rem;
         margin: 0;
         border-radius: 50%;
         border: 1px solid #bababa;
         display: flex;
         justify-content: center;
         align-items: center;
         flex: none;
         transition: transform 0.3s;
     }

     #contact-1389 .cs-icon {
         width: 1.5rem;
         height: auto;
         display: block;
     }

     #contact-1389 .cs-form {
         width: 100%;
         max-width: 39.375rem;
         padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
         box-sizing: border-box;
         background-color: #fff;
         border-radius: 1rem;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         align-items: center;
         gap: 0.75rem;
     }

     #contact-1389 .cs-h3 {
         font-size: clamp(1.25rem, 3vw, 2.4375rem);
         line-height: 1.2em;
         font-weight: 700;
         margin: 0 0 0.25rem 0;
         color: var(--headerColor);
     }

     #contact-1389 .cs-label {
         font-size: clamp(0.875rem, 1.5vw, 1rem);
         width: 100%;
         color: var(--headerColor);
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         gap: 0.25rem;
     }

     #contact-1389 .cs-input {
         font-size: 1rem;
         width: 100%;
         height: 3.5rem;
         padding: 0;
         padding-left: 1.5rem;
         color: var(--headerColor);
         background-color: #f7f7f7;
         border-radius: 0.5rem;
         border: none;
         box-sizing: border-box;
     }

     #contact-1389 .cs-input::placeholder {
         color: #7d799c;
         opacity: 0.6;
     }

     #contact-1389 .cs-textarea {
         min-height: 7.5rem;
         padding-top: 1.5rem;
         margin-bottom: 0.75rem;
         font-family: inherit;
     }

     #contact-1389 .cs-submit {
         width: 100%;
         min-width: 12.5rem;
         border: none;
     }

     #contact-1389 .cs-submit:hover {
         color: #fff;
         cursor: pointer;
     }
 }

 @media only screen and (min-width: 48rem) {
     #contact-1389 .cs-container {
         max-width: 80rem;
         flex-direction: row;
         justify-content: space-between;
     }

     #contact-1389 .cs-content {
         width: 47%;
         flex: none;
         order: 2;
     }

     #contact-1389 .cs-submit {
         width: auto;
     }
 }

 @media only screen and (min-width: 64rem) {
     #contact-1389 .cs-form {
         width: 46%;
         max-width: 36.125rem;
     }

     #contact-1389 .cs-submit {
         width: auto;
     }
 }

 @media only screen and (min-width: 93.75rem) {
     #contact-1389 .cs-graphic {
         display: block;
     }
 }

 @media only screen and (min-width: 0rem) {
     @keyframes floatAnimation {
         0% {
             transform: translateY(0);
         }

         50% {
             transform: translateY(-2rem);
         }

         100% {
             transform: translateY(0);
         }
     }

     @keyframes floatAnimation2 {
         0% {
             transform: translateY(0);
         }

         50% {
             transform: translateY(-3rem);
         }

         100% {
             transform: translateY(0);
         }
     }

     #content-page-1532 {
         padding: var(--sectionPadding);
         background-color: #fff;
         overflow: hidden;
         position: relative;
         z-index: 1;
     }

     #content-page-1532 .cs-container {
         width: 100%;
         max-width: 80rem;
         margin: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: clamp(2.5rem, 4vw, 4rem);
         position: relative;
     }

     #content-page-1532 .cs-content {
         text-align: left;
         width: 100%;
         max-width: 46.125rem;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
     }

     #content-page-1532 .cs-title {
         font-size: var(--headerFontSize);
         font-weight: 900;
         line-height: 1.2em;
         text-align: inherit;
         width: 100%;
         max-width: 100%;
         margin: 0 0 1rem 0;
         color: var(--headerColor);
         position: relative;
     }

     #content-page-1532 h2,
     #content-page-1532 h3,
     #content-page-1532 h4,
     #content-page-1532 h5,
     #content-page-1532 h6 {
         font-weight: 700;
         text-align: inherit;
         margin: 0 0 1rem 0;
         color: var(--headerColor);
     }

     #content-page-1532 h2 {
         font-size: 2rem;
         margin-top: 2rem;
     }

     #content-page-1532 h3 {
         font-size: 1.5rem;
         color: var(--primary);
     }

     #content-page-1532 h4,
     #content-page-1532 h5,
     #content-page-1532 h6 {
         font-size: 1.25rem;
     }

     #content-page-1532 .cs-button-solid {
         margin-bottom: 2rem;
     }

     #content-page-1532 .cs-no-margin {
         margin: 0;
     }

     #content-page-1532 .cs-color {
         color: var(--primary);
     }

     #content-page-1532 p {
         font-size: var(--bodyFontSize);
         line-height: 1.5em;
         text-align: inherit;
         width: 100%;
         margin: 0 0 1rem 0;
         color: var(--bodyTextColor);
     }

     #content-page-1532 p:last-of-type {
         margin-bottom: 2rem;
     }

     #content-page-1532 p a {
         font-size: inherit;
         line-height: inherit;
         text-decoration: underline;
         color: var(--primary);
         filter: brightness(120%);
     }

     #content-page-1532 ol,
     #content-page-1532 ul {
         padding-left: 1.5rem;
         margin: 0 0 2rem 0;
         color: var(--bodyTextColor);
         display: flex;
         flex-direction: column;
         gap: 1rem;
     }

     #content-page-1532 ul li {
         list-style: none;
         color: inherit;
         position: relative;
     }

     #content-page-1532 ul li:before {
         content: '';
         width: 3px;
         height: 3px;
         background: currentColor;
         opacity: 1;
         border-radius: 50%;
         position: absolute;
         display: block;
         top: 0.625rem;
         left: -0.75rem;
     }

     #content-page-1532 img {
         width: 100%;
         height: auto;
         display: block;
     }

     #content-page-1532 .cs-image-group {
         width: 32.625em;
         height: 33.75em;
         display: none;
         position: relative;
         z-index: 1;
     }

     #content-page-1532 .cs-background {
         width: 100%;
         height: 100%;
         border-radius: 0.75rem;
         overflow: hidden;
         object-fit: cover;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
     }

     #content-page-1532 .cs-background img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         display: block;
     }

     #content-page-1532 .cs-flower {
         width: 9.5625em;
         height: auto;
         position: relative;
         left: -2em;
         top: -2.25em;
         z-index: 10;
     }

     #content-page-1532 .cs-floater {
         width: 44.375em;
         height: auto;
         position: absolute;
         right: 9.375em;
         top: 25em;
         z-index: -1;
         animation-name: floatAnimation2;
         animation-duration: 14s;
         animation-timing-function: ease-in-out;
         animation-fill-mode: forwards;
         animation-iteration-count: infinite;
     }
 }

 @media only screen and (min-width: 48rem) {
     #content-page-1532 .cs-container {
         flex-direction: row;
         align-items: flex-start;
         justify-content: space-between;
     }

     #content-page-1532 .cs-content {
         width: 60%;
         max-width: 43.375rem;
         flex: none;
     }

     #content-page-1532 .cs-image-group {
         font-size: min(1.3vw, 1em);
         display: block;
     }
 }

 @media only screen and (min-width: 75rem) {
     #content-page-1532 .cs-content {
         width: 53%;
     }
 }

 @media only screen and (min-width: 0rem) {
     #why-choose-12 {
         padding: var(--sectionPadding);
     }

     #why-choose-12 .cs-title {
         max-width: 46.75rem;
     }

     #why-choose-12 .cs-container {
         width: 100%;
         max-width: 80rem;
         margin: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: clamp(3rem, 6vw, 4rem);
     }

     #why-choose-12 .cs-content {
         text-align: center;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     #why-choose-12 .cs-card-group {
         width: 100%;
         margin: 0;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: 3.75rem;
     }

     #why-choose-12 .cs-item {
         text-align: center;
         list-style: none;
         width: 100%;
         max-width: 22.5rem;
         margin: 0;
         padding: 0;
     }

     #why-choose-12 .cs-picture {
         width: clamp(4.25rem, 7vw, 5.5rem);
         height: clamp(4.25rem, 7vw, 5.5rem);
         margin: auto;
         margin-bottom: 2rem;
         border-radius: 50%;
         background-color: var(--primary);
         display: flex;
         justify-content: center;
         align-items: center;
     }

     #why-choose-12 .cs-picture img {
         width: auto;
         height: 2.625rem;
         display: block;
     }

     #why-choose-12 .cs-h3 {
         font-size: 1.25rem;
         line-height: 1.2em;
         text-align: inherit;
         font-weight: 700;
         text-transform: uppercase;
         margin: 0;
         margin-bottom: 0.5rem;
         color: var(--headerColor);
     }

     #why-choose-12 .cs-item-text {
         font-size: 1rem;
         text-align: inherit;
         line-height: 1.5em;
         margin: 0;
         color: var(--bodyTextColor);
     }
 }

 @media only screen and (min-width: 48rem) {
     #why-choose-12 .cs-card-group {
         flex-direction: row;
         justify-content: space-between;
     }
 }

 @media only screen and (min-width: 0rem) {
     #reviews-67 {
         padding: var(--sectionPadding);
     }

     #reviews-67 .cs-container {
         width: 100%;
         max-width: 80rem;
         margin: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: clamp(3rem, 6vw, 4rem);
     }

     #reviews-67 .cs-content {
         text-align: center;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     #reviews-67 .cs-card-group {
         padding: 0;
         margin: 0;
         display: flex;
         flex-direction: column;
         column-gap: 1.25rem;
         row-gap: 4rem;
     }

     #reviews-67 .cs-item {
         text-align: left;
         list-style: none;
         width: 100%;
         max-width: 39.375rem;
         padding: 3.75rem clamp(1rem, 3.2vw, 2rem) 0;
         padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
         box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);
         border-radius: 0.75rem;
         background: #fff;
         position: relative;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         align-items: center;
         box-sizing: border-box;
     }

     #reviews-67 .cs-item:last-of-type {
         margin-bottom: 0;
     }

     #reviews-67 .cs-item-text {
         font-size: 1rem;
         line-height: 1.5em;
         margin: 0 0 1.25rem;
         padding-bottom: 1.25rem;
         color: var(--bodyTextColor);
         border-bottom: 1px solid #e8e9ec;
     }

     #reviews-67 .cs-info {
         width: 100%;
         margin: auto 0 0 0;
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     #reviews-67 .cs-flex-group {
         width: 100%;
         margin: 0;
     }

     #reviews-67 .cs-name {
         font-size: 1rem;
         line-height: 1.5em;
         font-weight: 700;
         width: 40%;
         margin: 0;
         display: block;
         color: var(--headerColor);
     }

     #reviews-67 .cs-desc {
         font-size: 0.875rem;
         font-weight: 400;
         color: #7d799c;
         display: block;
     }

     #reviews-67 .cs-item-stars {
         width: 6rem;
         height: 1rem;
     }
 }

 @media only screen and (min-width: 48rem) {
     #reviews-67 .cs-card-group {
         flex-direction: row;
         justify-content: space-between;
     }
 }

 @media only screen and (min-width: 0rem) {
     #steps-1661 {
         padding: var(--sectionPadding);
     }

     #steps-1661 .cs-container {
         width: 100%;
         max-width: 36.5rem;
         margin: auto;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: clamp(3rem, 6vw, 4rem);
     }

     #steps-1661 .cs-content {
         text-align: center;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     #steps-1661 .cs-title {
         margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
     }

     #steps-1661 .cs-picture {
         width: 100%;
         height: clamp(18.75rem, 43vw, 37.5rem);
         display: block;
         position: relative;
         z-index: 1;
     }

     #steps-1661 .cs-picture img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
     }

     #steps-1661 .cs-card-group {
         padding: 0;
         margin: 0;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
     }

     #steps-1661 .cs-card-group:last-of-type .cs-item:last-of-type {
         padding: 0;
         border: none;
     }

     #steps-1661 .cs-card-group:not(:last-of-type) {
         margin-bottom: -3rem;
     }

     #steps-1661 .cs-item {
         list-style: none;
         text-align: left;
         padding: 0 0 1.5rem 0;
         margin: 0;
         border-bottom: 1px solid var(--primary);
         box-sizing: border-box;
         grid-column: span 12;
     }

     #steps-1661 .cs-number {
         font-size: 3.8125rem;
         line-height: 1.2em;
         font-weight: 900;
         margin: 0 0 clamp(1rem, 2.4vw, 1.5rem);
         color: var(--primary);
         opacity: 0.2;
         display: block;
     }

     #steps-1661 .cs-h3 {
         font-size: clamp(1.25rem, 3vw, 1.5625rem);
         line-height: 1.2em;
         font-weight: 700;
         margin: 0 0 1rem 0;
         color: var(--headerColor);
     }

     #steps-1661 .cs-item-text {
         font-size: clamp(0.875rem, 1.5vw, 1rem);
         line-height: 1.5em;
         margin: 0;
         color: var(--bodyTextColor);
     }
 }

 @media only screen and (min-width: 48rem) {
     #steps-1661 .cs-container {
         max-width: 80rem;
     }

     #steps-1661 .cs-card-group:last-of-type .cs-item:last-of-type {
         padding: 0 clamp(1.5rem, 3vw, 2rem);
         grid-column: span 4;
         border-bottom: 0;
         border-left: 1px solid var(--primary);
     }

     #steps-1661 .cs-card-group:not(:last-of-type) {
         margin-bottom: 0;
     }

     #steps-1661 .cs-item {
         padding: 0 clamp(1.5rem, 3vw, 2rem);
         grid-column: span 4;
         border-bottom: 0;
         border-left: 1px solid var(--primary);
     }

     #steps-1661 .cs-item:last-of-type {
         padding: 0 clamp(1.5rem, 3vw, 2rem);
         border-left: 1px solid var(--primary);
     }
 }

 #list-893 {
     max-width: 39.375rem;
     margin: 0 0 2rem 0;
     padding: 0;
     columns: 3;
 }

 #list-893 .cs-li {
     list-style: none;
     margin: 0 0 0.5rem 0;
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     gap: 0.75rem;
     position: relative;
 }

 #list-893 .cs-li:before {
     content: "";
     width: 0.5rem;
     height: 0.5rem;
     margin-top: 0.5rem;
     background: #bababa;
     border-radius: 0.25rem 0 0.25rem 0;
     display: block;
     flex: none;
 }

 @media only screen and (min-width: 0rem) {
     #services-1253 {
         padding: var(--sectionPadding);
         position: relative;
         z-index: 10;
     }

     #services-1253 .cs-container {
         width: 100%;
         max-width: 80rem;
         margin: auto;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         gap: clamp(3rem, 6vw, 4rem);
     }

     #services-1253 .cs-flex-group {
         margin: auto;
         max-width: 52rem;
     }

     #services-1253 .cs-content {
         text-align: center;
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     #services-1253 .cs-title {
         max-width: 52rem;
     }

     #services-1253 .cs-card-group {
         margin: 0;
         padding: 0;
         width: 100%;
         display: grid;
         grid-template-columns: repeat(12, 1fr);
         gap: clamp(1rem, 2.5vw, 1.25rem);
     }

     #services-1253 .cs-item {
         width: 100%;
         text-align: left;
         list-style: none;
         margin: 0;
         padding: 0;
         background-color: #000;
         border-radius: 0.75rem;
         overflow: hidden;
         box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.08);
         box-sizing: border-box;
         grid-column: span 12;
         grid-row: span 1;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: flex-end;
         position: relative;
         z-index: 1;
     }

     #services-1253 .cs-item:hover .cs-item-background img {
         opacity: 0.4;
         transform: scale(1.3);
     }

     #services-1253 .cs-item:before {
         content: "";
         width: 100%;
         height: 100%;
         border: 1px solid rgba(255, 255, 255, 0.4);
         box-sizing: border-box;
         border-radius: 0.75rem;
         pointer-events: none;
         opacity: 1;
         position: absolute;
         display: block;
         top: 0;
         left: 0;
         z-index: 10;
     }

     #services-1253 .cs-link {
         text-decoration: none;
         padding: clamp(7.8125rem, 19vw, 14.75rem) 1.5rem 1.5rem;
     }

     #services-1253 .cs-h3 {
         font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
         line-height: 1.2em;
         font-weight: bold;
         text-align: inherit;
         margin: 0 0 0.75rem 0;
         color: var(--bodyTextColorWhite);
         transition: color 0.3s;
     }

     #services-1253 .cs-item-text {
         font-size: clamp(0.875rem, 1.5vw, 1rem);
         line-height: 1.5em;
         max-width: 28.125rem;
         margin: 0;
         padding: 0;
         color: var(--bodyTextColorWhite);
     }

     #services-1253 .cs-item-background {
         width: 100%;
         height: 100%;
         display: block;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
     }

     #services-1253 .cs-item-background:before {
         content: "";
         position: absolute;
         display: block;
         height: 100%;
         width: 100%;
         background: #1a1a1a;
         opacity: 0.24;
         top: 0;
         left: 0;
         z-index: 1;
     }

     #services-1253 .cs-item-background:after {
         content: "";
         position: absolute;
         display: block;
         height: 100%;
         width: 100%;
         background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
         background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
         background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 100%);
         opacity: 0.4;
         bottom: 0;
         left: 0;
         z-index: 2;
     }

     #services-1253 .cs-item-background img {
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         object-fit: cover;
         transition: transform 0.6s, opacity 0.3s;
     }
 }

 @media only screen and (min-width: 48rem) {
     #services-1253 .cs-content {
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
         gap: 3rem;
     }

     #services-1253 .cs-title {
         margin: 0;
     }

     #services-1253 .cs-flex-group {
         width: 100%;
     }

     #services-1253 .cs-item {
         grid-column: span 4;
     }
 }