@media only screen and (min-width: 0em) {
     #projects {
         text-align: center;
         padding: var(--sectionPadding);
         position: relative;
         overflow: hidden;
     }

     #projects .container {
         width: 100%;
         max-width: 82.625em;
         margin: auto;
     }

     #projects .topper {
         text-align: center;
         margin-bottom: 1rem;
     }

     #projects .title {
         text-align: center;
         margin: 0 auto 2.5rem;
         display: block;
     }

     #projects .image-group {
         font-size: min(1.1vw, 1em);
         width: 100%;
         max-width: 82.625em;
         margin: 0 auto 3.75rem;
         padding: 0;
         display: flex;
         justify-content: center;
         align-items: flex-start;
         gap: 1.875em;
     }

     #projects .row {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         gap: 1.875em;
     }

     #projects .picture {
         display: block;
         position: relative;
     }

     #projects .picture img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
         border-radius: 0.75rem;
     }

     #projects .row-1 .picture1 {
         width: 26.25em;
         height: 35.4375em;
     }

     #projects .row-1 .picture2 {
         width: 26.25em;
         height: 39.3125em;
     }

     #projects .row-1 .picture3 {
         width: 26.25em;
         height: 32em;
     }

     #projects .row-2 .picture1 {
         width: 26.25em;
         height: 30.75em;
     }

     #projects .row-2 .picture2 {
         width: 26.25em;
         height: 32.3125em;
     }

     #projects .row-2 .picture3 {
         width: 26.25em;
         height: 39.3125em;
     }

     #projects .row-3 .picture1 {
         width: 26.25em;
         height: 39.0625em;
     }

     #projects .row-3 .picture2 {
         width: 26.25em;
         height: 28.25em;
     }

     #projects .row-3 .picture3 {
         width: 26.25em;
         height: 39.3125em;
     }
 }